<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax design</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="../css/diseign.css">
</head>
<body>
    <header>
        <nav>
            <h1 class="logo">Games</h1>
            <ul>
                <li>
                    <a href="#">Login</a>
                </li>
                <li>
                    <a href="#">Sign up</a>
                </li>
                <li class="search">
                    <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                </li>
                <li class="hamburger">
                    <a href="#">
                        <div class="bar"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="bg-img">
            <!-- <div class="bg-img2">

            </div> -->
        </div>
        <img src="../img/fog_7.png" class="parallax fog_7">
        <img src="../img/lara.png" alt="" class="parallax jp-10">
        <img src="../img/fog_6.png" class="parallax fog_6">
        <img src="../img/fog_6.png" class="parallax fog_1">
        <img src="../img/kratos.png" alt="" class="parallax jp-9">
        <img src="../img/masterChief.png" alt="" class="parallax jp-8">
        <img src="../img/fog_5.png" class="parallax fog_5">
        <img src="../img/shadow.png" alt="" class="parallax jp-7">
        <div class="text parallax">
            <h2>Los mejores</h2>
            <h1>Videojuegos</h1>
        </div>
        <img src="../img/dragon.png" alt="" class="parallax jp-6">
        <img src="../img/fog_4.png" class="parallax fog_4">
        <img src="../img/fog_3.png" class="parallax fog_3">
        <img src="../img/fog_3.png" class="parallax fog_3">
        <img src="../img/fog_2.png" class="parallax fog_2">
        <img src="../img/black_shadow.png" class="black-shadow">
        <img src="../img/sun_rays.png" class="sun-rays">
    </main>
</body>
</html>